:root {
  --app-primary-color: #1c1f23;
  --alternate-color: #1c1f23;
  --overlay-color: #fafbfcc8;
  --second-color: #fafbfc;
  --overlay-border-color: var(--alternate-color);
  --app-link-color: #0069d1;
  --app-padding: 8px;
  --app-touch-target-size: 48px;
  --app-neutral-color: #817376;
  --pink-color: #dd1d80;
  --app-border-radius: 8px;
  --muted-color: #6b6b6b;

  --button-padding: calc(2 * var(--app-padding));
  --button-size: var(--app-touch-target-size);
  --button-gap: calc(var(--app-padding) / 2);
  --spacer-size: var(--button-gap);
}

.dark {
  --second-color: #1c1f23;
  --alternate-color: #fafbfc;
  --app-primary-color: #fafbfc;
  --overlay-color: #1c1f23c8;
  --overlay-border-color: var(--alternate-color);
  --app-link-color: #2491ff;
  --muted-color: #8f8f8f;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: var(--app-primary-color);
  background-color: var(--second-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--app-link-color);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}
